<ion-header>
  <ion-navbar>
    <ion-title>
      Formulaire de problèmes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card *ngIf="correctMachine">
    <ion-card-content>
      <!-- <form>
        <input type="text" value="{{machineName}}" readonly>
      </form> -->
      <ion-list no-line>
        <ion-item>
          <ion-input type="text" name="machineName" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Your problem" name="descrip"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="jabba@the.hutt" name="mailuser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="photo"></ion-input>
        </ion-item>
        <h1>
          <button ion-button color="dark" full round (click)="takePhoto()">Take Photo</button>
        </h1>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <div *ngIf="imageTaken">
    <img src="{{imageSrc}}" alt="bug-photo"> 
  </div>
  <h1>
    <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
  </h1>
  
  
  
  
</ion-content>
