<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <h1>
    <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
    <button ion-button color="dark" full round (click)="takePhoto()">Take Photo</button>
  </h1>

  <ion-card *ngIf="correctMachine">
    <ion-card-header>
      Formulaire de problèmes
    </ion-card-header>
    <ion-card-content>
      <!-- <form>
        <input type="text" value="{{machineName}}" readonly>
      </form> -->
      <ion-list no-line>
        <ion-item>
          <ion-input type="text" name="name" readonly></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

    <div *ngIf="imageTaken">
      <img src="{{imageSrc}}" alt="bug-photo"> 
    </div>
      


  
</ion-content>
