<ion-header>
  <ion-navbar>
    <ion-title>
      Formulaire de problèmes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card *ngIf="correctMachine">
    <ion-card-content>
      <!-- <form>
        <input type="text" value="{{machineName}}" readonly>
      </form> -->
      
      <ion-list no-line>
        <ion-item>
          <ion-label color="primary">Nom de machine</ion-label>
          <ion-input [(ngModel)]="formValues.machinename" color="grey" type="text" name="machineName" value="{{machineName}}" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">e-mail</ion-label>
          <ion-input [(ngModel)]="formValues.mailuser" type="email" placeholder="jabba@the.hutt" name="mailuser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked left-align>Probleme description</ion-label>
          <ion-textarea [(ngModel)]="formValues.descrip" placeholder="Describe the problem" name="descrip"></ion-textarea>
        </ion-item>
        <ion-item>
          <div *ngIf="imageTaken">
            <img src="{{imageSrc}}" alt="bug-photo"> 
          </div>
        </ion-item>
        <h1 *ngIf="imageTaken == false">
          <button ion-button color="dark" full round (click)="takePhoto()">Take Photo</button>
        </h1>
        <h1 *ngIf="imageTaken">
          <button ion-button color="dark" full round (click)="takePhoto()">Delete Photo</button>
        </h1>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <h1 *ngIf="correctMachine == false">
    <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
  </h1>
  <h1 *ngIf="correctMachine">
    <button ion-button color="dark" round (click)="cancel()">Cancel Scan</button>
    <button ion-button color="dark" round (click)="send()">Send</button>
  </h1>
</ion-content>